extend layout

block content
  div.starter-template
    form(method='post')
      input(name='_id', type='hidden', value=answer._id.toHexString())
      div.form-group
        label(for='editAnswerQuestion') Question
        textarea.form-control(name='question', rows=5, cols=50, id='editAnswerQuestion')
          = answer.question
      div.form-group
        label(for='editAnswerAnswer') Answer
        textarea.form-control(name='answer', rows=5, cols=50, id='editAnswerAnswer')
          = answer.answer
      div.form-group
        label(for='editAnswerTags') Tags
        textarea.form-control(name='tags', rows=2, cols=50, id='editAnswerTags')
          = tag_str
      button(type='submit', class='btn btn-default') Update
