extends layout

block content
  div.starter-template
    h1 Welcome to Battle Answers!
    p How many times have you been playing Advanced Squad Leader and you have to stop to look up a rule?  Easy ones, like:  Is grain in-season in April?  Or a hard one about the intricacies of a gun duel.  While the rulebook is indeed comprehensive, it is definitely not a quick reference.  Usually the process involves the following steps:

    ol
      li Lookup one of the keywords of your question using the Index.
      li Flip to the referenced section and read through a long description, attempting to glean out the bit that concerns your specific question from the mass of words.
      li Sometimes other sections are referenced in your first reference, so you flip to those, also.
      li Finally, you, hopefully, have your answer, if there were no ambiguities or grey areas in what you read.

    p Sound familiar?  What is worse is that, sometimes you find yourself looking up the same rules questions game after game.  What is needed is a way to quickly and easily answer a rules question using the specific keywords you want, to find an answer specifically tailored to the question you are asking.  That is where Battle Answers comes in.  Simply click on the "Search for Answers" button above, type in a few keywords that describe your question, and let Battle Answers show you one or more answers that have been specifically tailored to match the keywords you entered.  
