extends layout

block content
  div.starter-template
    if (message)
      p= message
    form.form-horizontal(action='/login', method='post')
      div.form-group
        label(for='editUsername') Username
        input(type='text', name='username', class='form-control', placeholder='Username')
      div.form-group
        label(for='editPassword') Password
        input(type='password', name='password', class='form-control', placeholder='Password')
      button(type='submit', class='btn btn-default') Submit
