extend layout

block content
  div.starter-template
    if (message)
      p= message
    form(method='post')
      fieldset
        div.form-group
          label(for='editUsername') Username
          input.form-control(type='text', name='username', id='editUsername')
        div.form-group
          label(for='editPassword') Password
          input.form-control(type='text', name='password', id='editPassword')
        div.form-group
          label(for='editRoles') Roles
          textarea.form-control(name='roles', rows=2, cols=50, id='editRoles')
          p.help-block Enter one or more roles each separated by a space. Available roles are: super rules-admin rules-minion.
        button.btn.btn-default(type='submit') Save
